*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
  /* border:1px solid red; */
}

.navbar-shadow{
  box-shadow: -1px -1px 7px -2px rgba(0,0,0,0.70);
}

.navbar-dark{
  background-color: #2b3844 !important;
}

.bg-lightdark{
  background-color: #2b3844 !important;
  border-color: #2b3844 !important;
}
.input-dark{
  background-color: #2b3844 !important;
  border-color: #2b3844 !important;
}

.input-dark::placeholder{
  color:white !important;
}

.search-input{
  width:450px !important;
  height:50px !important;
  border-radius: 0.2rem !important;
  box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.75);
}

.card-image{
  width: 100%;
  height:200px;
}

.card{
  max-width:280px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.form-select{
  width:180px !important;
  height: 50px;
  border-radius: 0.2rem !important;
  box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.75);
}


.theme-toggle{
  cursor: pointer;
}

.container-dark{
  background-color: #202c36;
}

.flag-image{
  /* min-width: 350px;
  min-height:250px; */
  width:650px;
  height: 450px;
  border-radius: 0.5rem;
}

.btn-white{
  padding: 0.3rem 1.5rem;
  background-color: transparent;
}

.border-card{
  padding: 0rem 1.4rem;
  border: 1px solid rgb(231, 224, 224);
  border-radius: 0.3rem;
  cursor:  pointer !important;
  color: black !important;
}

.border-card-dark{
  padding: 0rem 1.4rem;
  border: 1px solid #2b3844;
  background-color: #2b3844;
  border-radius: 0.3rem;
  cursor:  pointer !important;
  color: white !important;
}

.border-container{
  max-width:350px !important;
  flex-wrap: wrap;
  overflow: visible;
}

.btn-back{
  padding: 0.5rem 2.3rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
  border: 0;
  font-size: 1.2rem;
}

.btn-back-dark{
  padding: 0.5rem 2.3rem;
  border-radius: 0.5rem;
  background-color: #2b3844;
  color:white;
  box-shadow: -1px 0px 13px -4px rgba(0,0,0,0.75);
  border: 0;
  font-size: 1.2rem;
}



@media screen and (max-width:768px) {
  .flag-image{
    /* min-width: 350px;
    min-height:250px; */
    max-width:400px;
    max-height: 300px;
    border-radius: 0.5rem;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0rem;
  }
  .card-wrapper{
    display: flex;
    justify-content: center;
  }
  .card{
    max-width:330px !important;
  }
}